{% extends 'base.html' %}
{% block title %}
Create a list
{% endblock title %}

{% block content %}
<div>
<h1>Create a new list</h1>
<form method="post">
  {% csrf_token %}
  {{ tlist.as_p }}
  <button>Create</button>
</form>
</div>
{% endblock content %}
