{% extends 'base.html' %}
{% block title %}
delete list
{% endblock title %}

{% block content %}
<div>
<h3 style="color: red"> Are you sure you want to delete {{tofu.name}}?</h3> <a href="{% url 'todo_list_detail' tofu.id%}"> Back to list </a><br><br>
<form method="post">
    {% csrf_token %}
  <button>DELETE</button>
</form>
</div>
<div>

</div>
{% endblock content %}
