{% extends 'base.html' %}

{% block title %} details {% endblock title %}


{% block content %}
<a href="{% url 'todo_list_list'  %}"> See all lists </a><br><br>

<div>
    <h1>{{list.name}} </h1>



    <table class ="styled-table">
        <thead>
            <tr>
                <th colspan="1">Task</th><th colspan="1">Due date</th>
            </tr>
        </thead>
        <tbody>
            {%for item in list.items.all %}
            <tr>
                <td> <a href="{% url 'todo_item_update' item.id %}"> {{item.task}} </td><td> {{item.due_date}}</td>
            </tr>
            {%endfor%}

            <tr><td><a href="{% url 'todo_item_create' %}"> Add to list </a></td></tr>
        </tbody>
    </table>

    <hr>

    <a href="{% url 'todo_list_update' list.id %}"> Rename list </a><br>
    <a style="color: red;"  href="{% url 'todo_list_delete'  list.id %}"> Delete list </a><br>
</div>

{% endblock content %}
