{% extends 'base.html' %}
{% block title %}
Edit list
{% endblock title %}

{% block content %}
<div>
<h1>Edit list</h1>
<form method="post">
  {% csrf_token %}
  {{ tlist.as_p }}
  <button>Update</button>
</form>
</div>
{% endblock content %}
