{% extends 'base.html' %}

{% block title %} todo {% endblock title %}


{% block content %}

<div>
    <h1>My Lists</h1>
    <div >

      <a href="{% url 'todo_item_create' %}"> item</a>
    </div>
    <table class ="styled-table">
        <thead>
          <tr>
            <th> Name </th>
            <th> Number of items </th>
          </tr>
        </thead>

        <tbody>

          {% for list in tlists %}
          <tr>
            <td> <a href="{% url 'todo_list_detail' list.id %}"> {{list.name}} </a> </td><td> {{list.items.count}}</td>
          </tr>
          {% endfor %}

          <tr bgcolor= "gray" >
            <td>
                <a  href="{% url 'todo_list_create' %}"> ADD LIST </a>
            </td>
        </tr>
        </tbody>
  </table>
</div>

{% endblock content %}
