{% extends 'base.html' %}
{% block title %}
Add items
{% endblock title %}

{% block content %}
<div>
<h1>Add items to a list</h1>
<form method="post">
  {% csrf_token %}
  {{ item.as_p }}
  <button>Create</button>
</form>
</div>
{% endblock content %}
