{% extends 'base.html' %}
{% block title %}
Edit task
{% endblock title %}

{% block content %}
<div>
<h1>Edit task {{alist}}</h1>

<table class ="styled-table">
    <thead>
        <tr>
            <th colspan="1">Task</th><th colspan="1">Due date</th>
        </tr>
    </thead>
    <tbody>
        {%for item in alist.items.all %}
        <tr>
            <td>  {{item.task}} </td><td> {{item.due_date}}</td>
        </tr>
        {%endfor%}

    </tbody>
</table>


<form method="post">
  {% csrf_token %}
  {{ thing.as_p }}
  <button>Update</button>
</form>
</div>
{% endblock content %}
